{% extends 'orders/base.html' %}
{% block title %}<h1>Додати оголошення</h1>{% endblock %}
    {% block content %}
    <div class="f1">
        <h1>Додати оголошення</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.image }}<br>
            {{ form.description }}<br>
            {{ form.price }}<br>
            <span>{{ error }}</span>
            <button class="btm btm-success" type="submit" >Додати оголошення</button>
        </form>
    </div>
    {% endblock %}

