{% extends 'orders/base.html' %}
{% block title %}<h1>Головна сторінка</h1>{% endblock %}
    {% block content %}
    <div class="f1">
        <h1 class="text-center">Головна сторінка</h1>
        <br>
        <br>
        {% if bord %}
            {% for el in bord %}
                <div class="img">
                    <a href="#"><img src="{{ el.image.url }}" width="200px"></a>
                </div>
                <div>
                    <h2>{{ el.name }}</h2>
                    <h3>{{ el.description }}</h3>
                    <p>{{ el.date }}</p>
                    <p>{{ el.price }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас не має оголошень</p>
        {% endif %}
    </div>
    {% endblock %}

